footer{
  height: 20vh;
  background-color: $color-secondaire;
  #monBouton{
    position: fixed; 
    bottom: 8%; 
    right: 3%;
    opacity: 0;
    transition: visibility 1s;
    visibility: hidden;
    position: fixed;
  }
  #monBouton:hover{
    opacity: 1 !important;
    transition: opacity .4s;
  }
}
